body {
  overflow-x:hidden; 
}
.main {
  display: flex;
  flex-direction: column;
}

.menu {
  position: absolute;
  width: 100%;
  height: 2.78vw;
  display: block;
  top: 2.78vw;
}

.krest {
  background: url(../images/krest.svg);
  background-size: 100%;
  width: 2.78vw;
  height: 2.78vw;
  margin-left: auto;
  margin-right: 2.78vw;
}

.h1 {
  font-family: 'TT Milks Casual Pie Educational';
  font-size: 11.94vw;
  margin: 1.78vw auto;
}

.blueblock {
  position: relative;
  outline: 0.42vw solid black;
  background-color: #6398FF;
  width: 100%;
  height: 62.50vw;
}

.whiteblock {
  position: relative;
  outline: 0.42vw solid black;
  background-color: white;
  width: 100%;
  height: 62.50vw;
}

.yellowblock {
  position: relative;
  outline: 0.42vw solid black;
  background-color: #FECD43;
  width: 100%;
  height: 62.50vw;
}

.pinkblock {
  position: relative;
  outline: 0.42vw solid black;
  background-color: #ED427F;
  width: 100%;
  height: 62.50vw;
}

.blackblock {
  position: relative;
  outline: 0.42vw solid black;
  background-color: black;
  width: 100%;
  height: 251.5vw;
}

.h2block {
  width: 100%;
  height: 8.78vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2 {
  font-family: 'TT Chocolates Educational';
  font-weight: 700;
  font-size: 3.33vw;
  margin: 5.7vw 0 0 4.17vw;
}
.h3 {
  font-family: 'TT Chocolates Educational';
  font-weight: 700;
  font-size: 2.3vw;
  line-height: 1.2;
  text-align: right;
  margin: 5.7vw 4.17vw 0 0;
}

.text {
  font-family: 'TT Chocolates Educational';
  font-weight: 500;
  font-size: 1.67vw;
  line-height: 1.2;
  margin: 4.08vw 0 0 4.17vw;
}

.text2 {
  font-family: 'TT Chocolates Educational';
  font-weight: 500;
  font-size: 1.67vw;
  line-height: 1.2;
  margin: 5.7vw 4.17vw 0 0;
  color: white;
}

.white {
  color: white;
}

.animatedblock {
  margin: 5.21vw auto 0 auto;
  width: 91.67vw;
  height: 236.61vw;
  background: url(../images/webplakat.png);
  background-size: 100%;
}

.scroll {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.08vw;
}

.scroll div {
  outline: 0.42vw solid black;
  background-color: white;
}

.ones {
  top: 4.86vw;
  left: 3.19vw;
}
.p1:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p2:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p3:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p4:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p5:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p6:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p7:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p8:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p9:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p10:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p11:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p12:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p13:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p14:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p15:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}
.p16:hover {
  scale: 1.1;
  transition: 0.2s ease-out;
}

.twos {
  top: 5.42vw;
  left: 2.08vw;
}

.threes {
  top: 8.75vw;
  left: 5.07vw;
}

.fours {
  top: 0.49vw;
  left: 5.07vw;
}

.one {
  width: 20.14vw;
  height: 28.61vw;
}

.two {
  width: 23.14vw;
  height: 32.71vw;
}

.three {
  width: 20.14vw;
  height: 25.71vw;
}

.four {
  width: 21.14vw;
  height: 29.41vw;
}

.p1 {
  position: relative;
  background: url(../images/p1.png);
  background-size: 100%;
  transform: rotate(22deg);
}
.p2 {
  position: relative;
  background: url(../images/p2.png);
  background-size: 100%;
  transform: rotate(351deg);
  left: -1.18vw;
  top: -3.61vw;
}
.p3 {
  position: relative;
  background: url(../images/p3.png);
  background-size: 100%;
  transform: rotate(12deg);
  left: -3.61vw;
  top: 3.61vw;
}
.p4 {
  position: relative;
  background: url(../images/p4.png);
  background-size: 100%;
  transform: rotate(345deg);
  left: -5.76vw;
  top: -3.82vw;
}
.p5 {
  position: relative;
  background: url(../images/p5.png);
  background-size: 100%;
  transform: rotate(348deg);
  left: -0.90vw;
  top: -0.83vw;
}
.p6 {
  position: relative;
  background: url(../images/p6.png);
  background-size: 100%;
  transform: rotate(12deg);
  left: -2.29vw;
  top: -5.56vw;
}
.p7 {
  position: relative;
  background: url(../images/p7.png);
  background-size: 100%;
  transform: rotate(338deg);
  left: -2.29vw;
  top: -1.88vw;
}
.p8 {
  position: relative;
  background: url(../images/p8.png);
  background-size: 100%;
  transform: rotate(22deg);
  left: 0.90vw;
  top: -3.26vw;
}
.p9 {
  position: relative;
  background: url(../images/p9.png);
  background-size: 100%;
  transform: rotate(348deg);
  left: -1.39vw;
  top: 4.51vw;
}
.p10 {
  position: relative;
  background: url(../images/p10.png);
  background-size: 100%;
  transform: rotate(355deg);
  left: -3.68vw;
  top: -2.78vw;
}
.p11 {
  position: relative;
  background: url(../images/p11.png);
  background-size: 100%;
  transform: rotate(20deg);
  left: -7.01vw;
  top: 4.86vw;
}
.p12 {
  position: relative;
  background: url(../images/p12.png);
  background-size: 100%;
  transform: rotate(346deg);
  left: -9.58vw;
  top: -0.76vw;
}
.p13 {
  position: relative;
  background: url(../images/p13.png);
  background-size: 100%;
  transform: rotate(350deg);
  left: -0.63vw;
  top: 2.71vw;
}
.p14 {
  position: relative;
  background: url(../images/p14.png);
  background-size: 100%;
  transform: rotate(10deg);
  left: -4.17vw;
  top: 7.50vw;
}
.p15 {
  position: relative;
  background: url(../images/p15.png);
  background-size: 100%;
  transform: rotate(350deg);
  left: -6.32vw;
  top: 1.94vw;
}
.p16 {
  position: relative;
  background: url(../images/p16.png);
  background-size: 100%;
  transform: rotate(10deg);
  left: -8.40vw;
  top: 5.49vw;
}
