.menu {
  position: absolute;
  width: 100%;
  height: 2.78vw;
  display: block;
  top: 2.78vw;
}

.krest {
  background: url(../images/krest.svg);
  background-size: 100%;
  width: 2.78vw;
  height: 2.78vw;
  margin-left: auto;
  margin-right: 2.78vw;
}

.textblock {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2.78vw 0 0 4.17vw;
}

.h2 {
  font-family: 'TT Chocolates Educational';
  font-weight: 700;
  font-size: 3.33vw;
}

.h1 {
  font-family: 'TT Milks Casual Pie Educational';
  font-size: 11.94vw;
  margin: 1.08vw 0;
}

.text {
  font-family: 'TT Chocolates Educational';
  font-weight: 500;
  font-size: 1.67vw;
  line-height: 1.2;
}

.planblue {
  position: absolute;
  top: 7.01vw;
  left: 26.74vw;
  background: url(../images/planblue.svg);
  background-size: 100%;
  width: 71.3vw;
  height: 58.5vw;
  animation: planblue 3s ease-in-out infinite;
}

@keyframes planblue {
  0% { transform: rotate(0deg);}
  50% { transform: rotate(8deg);}
}
.planblue:hover {
  animation-play-state: paused;
}

.plazkiandphoto {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 35.08vw 0 0 4.17vw;
}

.plazki {
  font-family: 'TT Chocolates Educational';
  font-weight: 700;
  font-size: 1.81vw;
  display: flex;
  flex-direction: row;
  width: 8.33vw;
  align-items: center;
  gap: 1.74vw;
}

.plazki div {
  position: relative;
  padding: 0.69vw 1.74vw;
  border-radius: 2.78vw;
  border: 0.42vw solid black;
}

.photos {
  position: relative;
  width: 91.67vw;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2.08vw;
  margin: 2.5vw 0 4.17vw 0;
}

.photos div {
  width: 29.17vw;
  height: 29.17vw;
  outline: 0.42vw solid black;
  border-radius: 3.47vw;
}

.one {
  background: url(../images/blue1.png);
  background-size: 100%;
}
.one:hover {
  z-index: 1;
  scale: 1.02;
  transition: 0.2s ease-out;
}
.two {
  background: url(../images/blue2.png);
  background-size: 100%;
}
.two:hover {
  z-index: 1;
  scale: 1.02;
  transition: 0.2s ease-out;
}
.three {
  background: url(../images/blue3.png);
  background-size: 100%;
}
.three:hover {
  z-index: 1;
  scale: 1.02;
  transition: 0.2s ease-out;
}
